---
---

ul,
ol {
  margin: 1rem 0;
  padding-left: 1.4rem;
  line-height: 1.62;
}

ul {
  list-style-type: disc;
}

li {
  margin: 0.45rem 0;
  padding-left: 0.35rem;
  color: var(--dark-gray);
  text-align: left;
  line-height: 1.58;

  ul,
  ol {
    margin: 0;
  }
}
