<!--
  modify main content of page:
  - add section breaks
  - attach section properties
  - filter out blank sections
-->

{% assign content = include.content %}

{% assign sections = content | split: "<!-- section break -->" | array_filter %}

{% for section in sections %}
  {% assign dark = section
    | regex_scan: "<dark>(.*?)</dark>"
    | default: ""
  %}
  {% assign image = section
    | regex_scan: "<background>(.*?)</background>"
    | default: nil
  %}
  {% assign image_optimized_1500 = image
    | regex_replace: "^images/", "images/optimized/"
    | regex_replace: '\.[^.]+$', "-1500.webp"
    | file_exists
  %}
  {% assign image_optimized_1280 = image
    | regex_replace: "^images/", "images/optimized/"
    | regex_replace: '\.[^.]+$', "-1280.webp"
    | file_exists
  %}
  {% assign image_optimized_960 = image
    | regex_replace: "^images/", "images/optimized/"
    | regex_replace: '\.[^.]+$', "-960.webp"
    | file_exists
  %}
  {% assign image_optimized_480 = image
    | regex_replace: "^images/", "images/optimized/"
    | regex_replace: '\.[^.]+$', "-480.webp"
    | file_exists
  %}
  {% assign image = image_optimized_1500 | default: image_optimized_1280 | default: image_optimized_960 | default: image_optimized_480 | default: image %}
  {% assign size = section
    | regex_scan: "<size>(.*?)</size>"
    | default: "page"
  %}

  <section
    class="background"
    data-size="{{ size }}"
    {% if dark == "true" or dark == "false" %}
      data-dark="{{ dark }}"
    {% endif %}
    {% if image %}
      data-has-image="true"
      style="--image: url('{{ image | relative_url | uri_escape }}')"
    {% endif %}
  >
    {{ section }}
  </section>
{% endfor %}
